.normal { }
.grey { color: #ccc; }

table {
  border-spacing:0;
  border-collapse: collapse;
}

table th {
font-weight: bold;
}

table td, table th {
	border: 1px solid grey;
	padding: 0.3em 1em;
}

tr.recorded {
  background: #eee;
}

tr.recorded td {
  color: grey;
}

tr.new td {
  background: #fff;
  font-weight: bold;
}
